// main: ../main.scss

.hidden {
    display: none;
}
.light {
    font-weight: 400;
}
.text-150 {
    font-size: 150%;
}
.text-200 {
    font-size: 200%;
}
.fine-print {
    font-size: 80%;
    opacity: 0.9;
}
